.exp-income {
  width: 80%;
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  font-size: 1.3rem;
  margin: 2rem auto;
  border-radius: 2rem;
  text-align: center;
}

.spent-earned {
  background-color: rgb(148, 147, 147);
  flex-basis: 100%;
}

.earned {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.spent {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
