ul {
  list-style: none;
  padding: 0;
}

.transaction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  background-color: rgb(148, 147, 147);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.8rem;
}

.transaction div {
  display: flex;
  gap: 2rem;
}

.transaction > p {
  flex: 1;
  font-size: 1.3rem;
}
.remove {
  display: block;
  max-width: 100%;
  width: 2rem;
  cursor: pointer;
}
